<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta name='viewport', content='width=device-width, initial-scale=1.0') />  <!-- Set viewport metadata for better display on mobile devices-->
    <link rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css') />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src='/javascripts/jquery-3.1.0.min'></script>
    <script src='/bootstrap/js/bootstrap.min.js'></script>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
